



h1{
    color: white;
    letter-spacing: 2px;
   font-size: 45px;
   background:  rgba(0, 0, 0, 0.5);
}

img{
    width: 30%;
    background:  rgba(0, 0, 0, 0.5);
}


p{
    color: white;
    background:  rgba(0, 0, 0, 0.5);
}


div{
    width: 80%;
    padding-top: 10%;
    
    margin: 20px 0 0 10%;
    text-align: center;
    
   
}